<div class="container  list-group">
			
    <h2 class = " list-group-item list-group-item-primary m-0">
        <span class="material-icons">
            lightbulb
            </span> &nbsp;
        Information</h2>
 
      <span class = "list-group-item"><b>Total Quantity : </b>&nbsp; {{totalQuantity}} item</span>
      <span class = "list-group-item"><b>Total Sales : </b> &nbsp; {{totalPrice}} LE</span>
      <span class = "list-group-item"><b>Average Sales : </b> &nbsp; {{avgSale}} LE</span>
      
      <span class = "list-group-item"><b>Total Profits : </b> &nbsp;{{totalProfits}} LE</span>
      <span class = "list-group-item"><b>Average Profits : </b> &nbsp; {{avgProfits}} LE</span>
      
      
</div>