
	<div class=" header-container" >
		<a th:href="@{/}"> <img class="header-image" alt="My Image "
			src="assets/content/images/nemo-header-img.jpg">
		</a>
		<div align="center"   class="menu">

			<ul class="menu-items">

				<!-- 	
						 Stock             -->
				<li #stock class="menu-item btn btn-light " (click) = "onSelectNavItem(stock  ,'')" >
					 <img class="menu-item-image" alt="stock" 
						src="assets/content/images/stock.png" /> <br> <span>&nbsp;&nbsp;Stock</span>
			
			</li>

				<!-- 			 Items              -->
				<li #items class="menu-item btn btn-light " (click) = "onSelectNavItem(items , '/items')">
					 <img  class="menu-item-image"  alt="items"
					src="assets/content/images/fishing.png" /> <br> <span>&nbsp;&nbsp;Items</span>
				</li>

				<!-- 			 Sales              -->
				<li #sales class="menu-item btn btn-light" (click) = "onSelectNavItem(sales , '/sales')" >
					 <img class="menu-item-image" alt="sales" 
						src="assets/content/images/sales.png" /> <br> <span>&nbsp;&nbsp;Sales</span>
			    </li>
				 <!--              Expenses                         -->
					<li #expenses class="menu-item btn btn-light " (click) = "onSelectNavItem(expenses , '/expenses')">
					 <img class="menu-item-image" alt="expenses"
						src="assets/content/images/goods.png" /> <br> <span>&nbsp;&nbsp;Expenses</span>
				</li>
				
				<!-- 			 Perished             -->
				<li #perished class="menu-item btn btn-light" (click) = "onSelectNavItem(perished ,'/perished')">
				<img class="menu-item-image" alt="stock" 
						src="assets/content/images/waste-bin.png" /> <br> <span>&nbsp;Perished</span>
				</li>

				<!-- 			 Archive            -->
				<li #archive class="menu-item btn btn-light" (click) = "onSelectNavItem(archive , '/archive')">
					<img class="menu-item-image" alt="archive"
						src="assets/content/images/archive.png" /> <br> <span>&nbsp;Archive</span>
				</li>
				
				<!-- 			 Statistics             -->
				<li #statistics class="menu-item btn btn-light" (click) = "onSelectNavItem(statistics , '/statistics')">
					 <img class="menu-item-image" alt="statistics" 
						src="assets/content/images/pie-chart.png" /> <br> <span>Statistics</span>
				</li>
			</ul>

		</div>

	</div>
