<app-perished-form></app-perished-form>
<div class = "d-flex flex-row justify-content-between"> 
    
    <app-data-filter class = " d-flex flex-column flex-grow-1 " style = "width:17%"></app-data-filter>
    
    <app-perished-table class = "data-table  flex-column flex-grow-0"></app-perished-table>
    <div class = "d-flex flex-column flex-grow-1  justify-content ml-4"> 
    <app-action-card class = "d-flex flex-row mb-4"></app-action-card>
    <app-perished-info class =  "d-flex  flex-row "></app-perished-info>
    
    </div>
    </div>
    