  <div  class="mx-3    d-flex flex-column  "
  >
	<div class=" flex-grow-1 p-3 bg-dark rounded-top">

		<h4 class=" text-light float-left  ml-1 my-1">Categories</h4>
		<!--  lets try badge -->
		<small class="badge badge-info badge-pill float-right mt-3 mb-0 mr-1" >
            {{categories.length}}
		</small>
		<!-- 			 <small class = "text-light float-right mb-0 mt-3 mr-1">10 categories</small> -->
	</div>

	<div class="flex-grow-2 overflow-scroll list-group border-left "
		style="overflow-y: scroll; max-height: 600px" role="tablist">

		<a 
			class="list-group-item list-group-item-action border-right-0 border-left-0 "
			data-toggle="list"  (click) = "selectCategory(-1, 'All')" 
			> All</a> 

		<a *ngFor ="let category of categories"
			class="list-group-item list-group-item-action border-right-0 border-left-0 "
			data-toggle="list"  (click) = "selectCategory(category.id , category.name)" 
			> {{category.name}}</a> 

	</div>
	<div class="flex-grow-3 border border-light">
		<button class="btn btn-primary w-100 p-2" data-toggle="modal"
			data-target="#staticBackdrop">Create New Category</button>
	</div>

</div>