
<app-expenses-form></app-expenses-form>
<div class = "d-flex flex-row justify-content-between"> 
    
    <app-data-filter class = " d-flex flex-column flex-grow-1 " style = "width:17%"></app-data-filter>
    
    <app-expenses-table class = "data-table  flex-column flex-grow-0"></app-expenses-table>
    <div class = "d-flex flex-column flex-grow-1  justify-content ml-4"> 
    <app-action-card class = "d-flex flex-row mb-4"></app-action-card>
    <app-expenses-info class =  "d-flex  flex-row "></app-expenses-info>
    
    </div>
    </div>
    