<div class ="d-flex justify-content-between align-items-center" > 
  <nav aria-label="breadcrumb" >

    <ol class = "breadcrumb mb-2" *ngIf = "(selectedCategory.id == -1 && selectedItem.id == -1) ; else elseBlock" > 
     <li class = "breadcrumb-item" >
       All
     </li> 
    </ol>
    <ng-template #elseBlock >   
       <ol  class="breadcrumb mb-2">
      <li class="breadcrumb-item">{{selectedCategory.name}}</li>
      <li class = "breadcrumb-item active">{{selectedItem.name}}</li>
    </ol>
  </ng-template>

  </nav>


<label> Search :  <input [formControl] = "filterControl"  type = "text"   /> </label>
</div>
<div class="mat-elevation-z8">
  <table [dataSource] = "sales" 
        mat-table 
        class="full-width-table table table-hover justify-content-between" 
        matSort matSortActive="saleDate" matSortDirection="desc" (matSortChange) = "resetPaging()" aria-label="Elements" >
       <!-- Item Name  Column -->
       <ng-container matColumnDef="saleDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h4><b>Sale Date</b></h4></th>
        <td mat-cell *matCellDef="let row">{{row.saleDate}}</td>
      </ng-container>
    <!-- Item Name  Column -->
    <ng-container matColumnDef="item.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><h4><b>Name</b></h4></th>
      <td mat-cell *matCellDef="let row">{{row.item.name}}</td>
    </ng-container>
 
    <!-- Sale Description -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><h4><b>Sale Description</b></h4></th>
      <td mat-cell *matCellDef="let row">{{row.saleDescription}}</td>
    </ng-container>



    <!-- Quantity  Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><h4><b>Quantity</b></h4></th>
      <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
    </ng-container>

    <!-- Sale Price  -->
    <ng-container matColumnDef="salePrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><h4><b>Price</b></h4></th>
      <td mat-cell *matCellDef="let row">{{row.price}}</td>
    </ng-container>

      <!-- Sale Price  -->
      <ng-container matColumnDef="profit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h4><b>Profit</b></h4></th>
        <td mat-cell *matCellDef="let row">{{row.profit}}</td>
      </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class = "thead-dark"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="(row.saleId == selectedSale?.saleId)?'bg-info':''"
     (click)="onSelectRow(row)"></tr>
  </table>

  <mat-paginator #paginator
      [length]="totalElement"
      [pageIndex]="0"
      [pageSize]="8"
      [pageSizeOptions]="[8, 16, 24]">
  </mat-paginator>
</div>

