<app-stock-sell-form></app-stock-sell-form>
<app-stock-buy-form></app-stock-buy-form>
<app-stock-perish-form></app-stock-perish-form>
<app-stock-return-form></app-stock-return-form>

<div  class = "d-flex flex-row justify-content-between"> 
<app-category-list class = "category-list d-flex flex-grow-0 container  " style = "width:18% "></app-category-list>
<app-stock-table class = "data-table d-flex flex-column flex-grow-0 "></app-stock-table>
<div class = " d-flex flex-column flex-grow-1  justify-content ml-4 "> 
<app-stock-action-card class = "d-flex flex-row mb-4"></app-stock-action-card>
<app-stock-info class = "d-flex  flex-row "></app-stock-info>
</div>
</div>