<div class="container  list-group">
			
    <h2 class = " list-group-item list-group-item-primary m-0"><span class="material-icons">
        lightbulb
        </span> &nbsp; Information</h2>
 
  
      <span class = "list-group-item"><b>Total Units : <span class = "text-dark">{{totalUnits}} &nbsp; unit</span> </b></span>
      <span class = "list-group-item"><b>Total Purchase Price : <span class = "text-dark">{{totalPurchasePrice}} &nbsp; LE</span> </b></span>
      <!--span class = "list-group-item"><b>Total Sale Price : </b></span-->
      <span class = "list-group-item"><b>Total Exp Profits : <span class = "text-dark">{{totalExpProfits}}</span> &nbsp; LE</b></span>
      <span class = "list-group-item"><b class = "text-info">Purchase Price : <span class = "text-dark">{{purchasePrice}}&nbsp; LE </span> </b></span>
      <span class = "list-group-item"><b class = "text-info">Sale Price :  <span class = "text-dark">{{salePrice}} &nbsp; LE </span></b></span>
      <span class = "list-group-item"><b class = "text-info">Expected profit :  <span class = "text-dark">{{expectedProfit}} &nbsp; LE</span></b></span>

  
</div>